node_modules/

.env

*.mp4
*.srt
*txt
*.mp3
*.jpg
*.webp
creds.json
codeVerifier.json
someName_tokens.json
manifest.json
apiresources/uploads/*.png
openPost\apiresources\uploads\*.png
apiresources/uploads/
creds.json
openPost/socialauthentication/authData/*.json
/home/gavin/Desktop/open/openPost/socialauthentication/authData\creds.json

.DS_store
client/.DS_Store